.services-container{
    display: grid;
    place-content: center;
    place-items: center;
    height: 23em;
    padding-bottom: 30px;
    
    
}
.services-dates{
    display: flex;
    gap: 2em;
    font-family: 'Mukta';
    font-weight: bold;
    font-size: 1.2em;

}
.services-item{
    display: grid;
    text-align: center;
    line-height: 5px;
}
.services-divider{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #181818;
}
.services-divider-sub{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #7B6036 ;
}
.services-title{
    display: grid;
    line-height: 0;
    margin: 3.5em;
}
@media only screen and (max-width:810px){
    .services-container{
        max-width: 100%;
        height: fit-content;
        padding-bottom: 60px;
    }
    .services-dates{
        display: flex;
        font-size: medium;
    }
    .services-title{
        font-size: medium;
    }
}
@media only screen and (max-width:540px) {
    
    .services-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
        
    }
    
}