.banner-image{
    max-width: 100%;
}
.banner{
    width: 100% ;
    margin: 100px 0 0 0;
    border-radius: 12px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.logoBig{
    width: 40%;
    display: flex;
    
    
}
img{}
@media only screen and (max-width: 810px) {
    .banner{
        width: 90%;
        
        background-color: #bbbbbba4;
        border-radius: 12px;      
        margin-left: 2%;
    }
    .body{
        display: grid;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
    }
    h2{
        font-size: 20px;
        
    }
}
.subtitle{
    padding: 3% 0 0 3%;
    background-color: rgb(68, 68, 68);
    font-family: sans-serif;
    
    
}



.body{
    font-family: Roboto, sans-serif;
    background-color: #f1f1f1;
    padding:0 0 0 0;
    margin:0;
    color:rgb(43, 43, 43);
    
}
body{
    margin:0;
    font-family: Roboto, sans-serif;
}
.section{
    display: flex;
    grid-template-columns: 60% 33%;
    background-color: #181818;
    color:white;
    height:fit-content;
    justify-content: center;
}
h1{
    padding-left: 5%;
}
.news-items{
    height:2em;
    display: grid;
    width: min-content;
    
}
.news{
    padding: 40px;
    display: flex; 
    gap:0.7em;
    
}
.news-subtitle{
    
}
.img{
    width:13em;
    border-radius:12px;

}
.section2{
    height: 30em;
    background-color: #3f3f3f; 
    color: white;
}
.banner-text{
    
    font-family:  'Quicksand', sans-serif;
    font-size: 60px;
    
}
.banner-text-and-logo{
    position: absolute;
}