
.nav-button{
    visibility: hidden;
}

@media only screen and (max-width:820px){
    
    .nav-button{
        visibility: visible;
        padding: 8px 30px 8px 8px;
        background-color: transparent;
        border: none;
        margin-top: 20px;
        cursor: pointer;
        
    
        
    }
}
.overlay{
    width: 0%;
    height: 100%;
    z-index: 9;
    position: fixed;
    background-color: #efefef;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: all 0.5s;
    padding-top:50px;
    
}
.close-button{
    margin: 30px 0 0 50px;
    margin-top: 30px;

    
}
.overlay-content{
    display: grid;
    padding-left: 50px;
    margin-top: 50px;
}