.calendar{
    display: grid;
    text-align: center;
    padding: 30px;
    
    font-family: 'Mukta';
    height: 22em;
    color: #efefef;
    background-color: #181818;
    font-weight: bold;

}
.event-title{
    font-weight: bold;
    line-height: 0;
    
}
.event-date{
    font-weight: bold;
    color:#efefef;
}
.calendar-events{
    background-color: #606060;
    border-radius: 12px;
    padding: 10px;
    padding-left: 15px;
    height: 80px;
    font-family: 'Mukta', sans-serif;
    width: 20%;
    font-size: 1.2em
    
}
.calendar-events-all-items{
    display: flex;
    gap:3em;
    justify-content: center;
}
.calendar-divider-sub{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #737373 ;
}
.calendar-title{
    display: grid;
}