.footer{
    display: grid;
    background-color: #181818;
    place-content: center;
    place-items: center;
    color:rgb(192, 192, 192);
    
    font-family: 'Mukta';
    padding: 3em;
}
.footer-logo{
    width: 50%;
}
.footer-social-media{
    gap: 4em;
}
.footer-text{
    margin: 0;
}