.footer{
    display: flex;
    background-color: #181818;
    justify-content: space-around;
    border-top-color: cornsilk;
    border-top-style: solid;
    border-top-width: 1px;
    color:rgb(192, 192, 192);
    height: 200px;
    font-family: Roboto, sans-serif;
}
ul{
    list-style-type: none;

}