.main-image{
    width: 100%;
    
    
}
.banner-container{
    padding-top: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.banner-title{
    
    color: white;
    font-size: 4em;
    font-family: 'Mukta';
    font-weight: 200;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding-left: 0;
}
.banner-logo{
    
    width: 50%;
    margin-top: 0;
}
.banner-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width:540px) {
    .banner-container{
        z-index: 0;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        height: 8em;
        background-image: url(../../assets/img6.jpg);
        background-size: cover;
        background-position-x: center;
        
    }
    .banner-title{
        font-size: 7vw;
        z-index: 1;
        text-align: center;
        margin: 0;
        padding-left: 0;
        font-weight: 700;
        
    }
    .banner-logo{
        width: 50%;
        z-index: 1;
    }
    .banner-content{
        width: 100%;
        height: max-content;
    }
    .main-image{
        visibility: hidden;
        
    }
}
@media  only screen and (max-width:820px) {
    .banner-container{
        height: 20em;
        padding-bottom: 20px;
        margin-top: 100px;
        background-image: url(../../assets/img6.jpg);
        background-size: cover;
        background-position-x: center;
        z-index: 0;
    }.main-image{
        visibility: hidden;
    }
    .banner-title{
        padding-left: 0;
    }

}