.main-image{
    width: 100%;
    
    
}
.banner-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.banner-title{
    
    color: white;
    font-size: 4em;
    font-family: 'Mukta';
    font-weight: 300;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}
.banner-logo{
    
    width: 50%;
    margin-top: 0;
}
.banner-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}